:root {
    --red: #FF1111;
    --blue: #1111FF;
    --yellow: #FFD733;
    --gold: #DAA520;
    --silver: #C0C0C0;
    --crystal: #4FD9FF;
    --ruby: #A00000;
    --sapphire: #0000A0;
    --emerald: #00A000;
    --firered: #FF7327;
    --leafgreen: #00DD00;
    --diamond: #AAAAFF;
    --pearl: #FFAAAA;
    --platinum: #999999;
    --heartgold: #B69E00;
    --soulsilver: #C0C0E1;
    --black: #444444;
    --black-2: #444444;
    --white: #E1E1E1;
    --white-2: #E1E1E1;
    --x: #025DA6;
    --y: #EA1A3E;
    --omega-ruby: #6F1A0C;
    --alpha-sapphire: #194166;
    --sun: #F1912B;
    --moon: #5599CA;
    --ultrasun: #E95B2B;
    --ultramoon: #226DB5;
    --sword: #00A1E9;
    --shield: #BF004F;
}